<h3 class="text-center">Adding new Article</h3>
<div class="row">
  <div class="col-md-12">
    <% if @article.errors.any? %>
      <div class="card card-inverse card-danger mb-3">
        <div class="card-block">
          <h2 class="card-title">
            <%= pluralize(@article.errors.count, 'error') %>
            prohibited this article from being saved:
          </h2>
          <div class="card-text">
            <ul>
              <% @article.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    <%= render 'articles/form' %>
  </div>
</div>
