<article class="article-detail my-4 p-4 rounded">
  <h1 class="article-detail-title"><%= @article.title %></h1>
  <%= content_tag(:div, fa_icon('calendar', text: @article.created_at.strftime('%b %d %Y')), class: 'py-2') %>
  <div class="article-detail-body py-2">
    <%= @article.body %>
  </div>
</article>
